#inputDiv {
	position : absolute;
	left: 69%;
	top : 1%;
	width : 30%;
	height : 20%;
	background-color: #D6D6D6;
}
#userInput {
	position : absolute;
	top : 2.5%;
	left : 2.5%;
	height : 55%;
	width : 95%;
	font-size : 220%;
	size : 10;
	resize : none;
}
#input {
	position : absolute;
	top : 70%;
	left : 25%;
	width : 50%;
	height : 22%;
	font-size : 100%;
}
#outputDiv {
	position : absolute;
	background-color : #EDEDED;
	top : 50%;
	left : 1%;
	width : 67%;
	height : 48%;
}
#codeDiv {
	background-color : #EDEDED;
	position : absolute;
	top : 1%;
	left : 1%;
	width : 67%;
	height : 48%;
}
#code {
	position : absolute;
	top : 25px;
	left : 1%;
	width : 98%;
	height : 85%;
	resize : none;
}
#memoryDiv {
	position : absolute;
	left: 69%;
	top : 22%;
	width : 30%;
	height : 15%;
	background-color: #D6D6D6;
}