#inputDiv {
	position : absolute;
	left: 69%;
	top : 1%;
	width : 30%;
	height : 20%;
	background-color: grey;
}
#userInput {
	position : absolute;
	top : 2.5%;
	left : 2.5%;
	height : 55%;
	width : 95%;
	font-size : 220%;
	size : 10;
	resize : none;
}
#input {
	position : absolute;
	top : 70%;
	left : 25%;
	width : 50%;
	font-size : 100%;
}